/* imgs of services */
.s1img img{
    width: 300px;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
}

.s1{
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 340px;
    height: 550px;
    border-radius: 20px;
}
body{
    background-color: rgb(132, 0, 255);
}
.main2{
    text-align: center;
}
.sbutton button{
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(132, 0, 255);
    color: white;
}
.servicelist ul li{
    display: inline-flex;
    justify-content: space-evenly;
    margin: 10px;
    animation: myAnim 2s ease 0s 1 normal forwards;

}
@keyframes myAnim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.servicelist{
    padding: 40px;
}

.servicetitle{
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 80px;
}
.s1text h2{
    font-family: 'Roboto', sans-serif;
}
.s1text p{
    font-family: 'Lato', sans-serif;
}
.s1text{
    padding: 20px;
    height: 100px;
}
.back{
    position: fixed;
    bottom: 0px;
    left: 0px; 
    bottom: 10px;
    padding: 20px;
    background-color: yellow;
    margin-left: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
animation: back 5s ease 0s 1 normal forwards;
}
@keyframes back {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@media screen and (max-width:437px) {
    .s1{
        width: 280px;
    }
    .s1 img{
        width: 280px;
    }
}